body{
    background-color: #ebebeb;
}

#buttonArea{
    display: flex;
    padding: 50px;
    gap: 50px;
    justify-content: center;

}

  img {
    width: 150px;
    height: 150px;
  }

  button {
    background-color: inherit;
        transition: transform 0.7s ease-in-out;
        padding:10px;
        border:2px solid black;
        outline :none;
        border-radius:5px;
        font-size:24px;
        color: black;
        transition: transform .2s;
  }

  button:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    background-color: rgb(255, 207, 15);
  }

#welcomeMessage{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Marker Felt;
    margin: auto;
    font-size: 75px;
}

#scores{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Marker Felt;
    margin: auto;
    font-size: 30px;
    gap: 75px;
}

#scoresValue{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    font-family: Marker Felt;
    margin: auto;
    font-size: 30px;
    gap: 50px;
    padding-bottom: 20px;
}

#playerScoreValue{
    padding-right: 10px;
}

#cpuScore{
    padding-left: 50px;
}

#playerScore{
    padding-left: 20px;
}