/* static/css/blog.css */

ul {
    font-size: medium;
    background-color:rgb(255, 255, 255);
    margin: 10px;
    padding: 50px;
}

body{
    background-color: #ffffff;
    color: #333;
    font-family: Helvetica, "Palatino LT STD", "Palatino Linotype", "Book Antiqua", Georgia, serif;
    margin: 0px;
    padding: 0;
    width: 100%;
}


.spacer{
    margin-top: 20px;
}

a{
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}

.blogEntry{
    background-color: #ffffff;
    margin: 10px;
    padding: 50px;
}

button {
  background-color: white;
  border: solid rgb(0, 0, 0);
  text-align: center;
  margin-top: 5%;
  margin-left: 40%;
}


#newPost{
    margin: 0px;
    text-decoration: none;
    padding: 25px;
    border-radius: 5px;
    text-align: center;
    line-height: 28px;
    background-color: rgb(255, 255, 255);
    padding-top: 100px;
    position: fixed;

}

#newPostButton{
    color: #ff5722;
    text-decoration: none;
    font-size: 30px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ff5722;
    transition: all 0.3s ease;
}

#newPostButton:hover{
    color: #ffffff;
    background-color: #ff5722;
}

a:visited{
    text-decoration: none;
    color: black;
    justify-content: center;
}

#postTitle h2{
    font-size: 50px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-left: 60px;
}

#postTitle h2:hover{
    color: #707070;
}

#postContent{
    font-size: 20px;
    color: black;
    padding-left: 50px;
    width: 60%;
}

#postAuthor{
    font-size: 15px;
    color: rgba(0, 0, 0, 0.69);
    padding-left: 50px;
    width: 60%;
    font-style: italic;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 1%;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border-bottom: solid rgb(185, 185, 185);
    color: #000000;
    margin: 0px;
    width: 100%;
    display: flex;
    position: fixed;
    top: 0;
    padding-left: 5em;
    padding-right: 5em;
    flex-direction: row;
    z-index: 9999;

}

.navbar li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.navbar li a:hover {
    color: #707070;
}

#arremangado{
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 60%;
}

.gg-search {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 16px;
    height: 16px;
    border: 2px solid;
    border-radius: 100%;
    margin-left: -4px;
    margin-top: -4px;
    padding-left: 10px;
   }
   
   .gg-search::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    border-radius: 3px;
    width: 2px;
    height: 8px;
    background: currentColor;
    transform: rotate(-45deg);
    top: 10px;
    left: 12px
   } 

   #logout{
       margin-right: 10px;
   }


#formContainer{
    margin-top: 10%;
    justify-content: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input{
    width: 50%;
    border: solid rgb(135, 135, 135);
    border-radius: 5px;
}

#titleInput{
    color: #ff5722;
    margin-bottom: 5%;
}

#contentInput{
    height: 300px;
    text-align: center;
}

label{
    font-weight: bold;
    font-size: 20px;
    text-align: left;
    padding-right: 40%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-bottom: 2%;
}