
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'blog/css/postListStyle.css' %}" rel="stylesheet">
    <link href='https://unpkg.com/css.gg@2.0.0/icons/css/search.css' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>  
    <nav>
        <ul class="navbar">
            <li id="arremangado">Arremangado's blog</li>
            <li><a href="{% url 'post_list' %}">Home</a></li>
            <li><a href="{% url 'post_list' %}">Blog</a></li>
            {% if user.is_authenticated %}
                <li><a href="{% url 'post_new' %}" class="new-post-button">New Post</a></li>
                <li id="logout"><a href="{% url 'logout' %}">Logout</a></li>
                <li><i class="gg-search"></i></li>
            {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            {% endif %}
        </ul>
    </nav>

        <ul class="blogEntry">
        {% for post in posts %}
            <a id="postTitle" href="{% url 'post_detail' post.id %}"><h2>{{ post.title }}</h2></a>
            <p id="postContent">{{ post.content }}</p>
            <p id="postAuthor">By: {{post.author}}</p>

            <form method="post" action="{% url 'delete_post' post.id %}">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                <button id="deleteButton" type="submit" style="font-size:24px"><i class="material-icons">delete</i></button>
            </form>
            <div class="spacer"></div>
        {% endfor %}
        </ul>

</body>
</html>

